<h1>Showing Articles Details</h1>
<p><strong>Article Title:</strong> <%= @article.title %></p>
<p><strong>Article Description:</strong> <%= @article.description %></p>
<p><strong>Article Author:</strong> <%= @article.author %></p>
<br/>
<br/>
<a href='./'><strong>BACK TO THE LIST</strong></a>