.navbar {
    background-color: black !important;
}

.navbar-brand {
    color: white !important;
    font-size: 34px;
    font-weight: bolder;
    }

.nav-link {
 color: white !important;
}

#Home-container{
    margin-top: 20px;
}